@{
    ViewData["Title"] = "Projects";
}

<div id="react-root"></div>

@section Styles {
    <link href="~/dist/styles/projects.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/dist/projects.js"></script>
}