.ProjectsListItem {
    background-color: #fcfcfc;
    border: 1px solid #efefef;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: #fefefe;
    }
}

.ProjectsListItem-date {
    font-weight: 700;
    position: absolute;
    right: 10px;
    color: #717171;
}